PORT=3002
NODE_ENV=development
DATABASE_URL="postgresql://wayvo:wayvo@localhost:5434/provider_db?schema=public"
SIMULATE_FAILURE_MODE=normal

# APIs externas de proveedores
SERPAPI_API_KEY=cdc4cbd39560d86af9f3174765fd60c2a562ab041a5ea3d4995b368fcceec1de
SERPAPI_CURRENCY=COP
HOTELS_API_KEY=a77f3de04ec325726bc983587daae9066000032b55fa90c2c64ed75d597b7c3a
HOTELS_API_LIMIT=20
EXTERNAL_API_TIMEOUT_MS=10000
